<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vrije-tekst-my-suffix-heading" jhiTranslate="proposalManagementApplicationApp.vrijeTekst.home.createOrEditLabel">Create or edit a Vrije Tekst</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vrijeTekst.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vrijeTekst.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proposalManagementApplicationApp.vrijeTekst.volgnummer" for="field_volgnummer">Volgnummer</label>
                    <input type="number" class="form-control" name="volgnummer" id="field_volgnummer"
                        [(ngModel)]="vrijeTekst.volgnummer" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proposalManagementApplicationApp.vrijeTekst.aanvraagbericht" for="field_aanvraagbericht">Aanvraagbericht</label>
                    <select class="form-control" id="field_aanvraagbericht" name="aanvraagbericht" [(ngModel)]="vrijeTekst.aanvraagberichtId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aanvraagberichtOption.id" *ngFor="let aanvraagberichtOption of aanvraagberichts; trackBy: trackAanvraagberichtById">{{aanvraagberichtOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
