<div>
    <h2 id="page-heading">
        <span jhiTranslate="proposalManagementApplicationApp.vrijeTekst.home.title">Vrije Teksts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vrije-tekst-my-suffix" [routerLink]="['/vrije-tekst-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="proposalManagementApplicationApp.vrijeTekst.home.createLabel">
            Create new Vrije Tekst
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vrijeTeksts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.vrijeTekst.volgnummer">Volgnummer</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.vrijeTekst.aanvraagbericht">Aanvraagbericht</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vrijeTekst of vrijeTeksts ;trackBy: trackId">
                <td><a [routerLink]="['/vrije-tekst-my-suffix', vrijeTekst.id, 'view' ]">{{vrijeTekst.id}}</a></td>
                <td>{{vrijeTekst.volgnummer}}</td>
                <td>
                    <div *ngIf="vrijeTekst.aanvraagberichtId">
                        <a [routerLink]="['../aanvraagbericht-my-suffix', vrijeTekst.aanvraagberichtId , 'view' ]" >{{vrijeTekst.aanvraagberichtId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vrije-tekst-my-suffix', vrijeTekst.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vrije-tekst-my-suffix', vrijeTekst.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vrije-tekst-my-suffix/'+ vrijeTekst.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
