<div>
    <h2 id="page-heading">
        <span jhiTranslate="proposalManagementApplicationApp.record45Relatie.home.title">Record 45 Relaties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-record-45-relatie" [routerLink]="['/record-45-relatie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="proposalManagementApplicationApp.record45Relatie.home.createLabel">
            Create new Record 45 Relatie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="record45Relaties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.record45Relatie.pcFinetNr">Pc Finet Nr</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.record45Relatie.recordType">Record Type</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.record45Relatie.volgNr">Volg Nr</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record45Relatie of record45Relaties ;trackBy: trackId">
                <td><a [routerLink]="['/record-45-relatie', record45Relatie.id, 'view' ]">{{record45Relatie.id}}</a></td>
                <td>{{record45Relatie.pcFinetNr}}</td>
                <td>{{record45Relatie.recordType}}</td>
                <td>{{record45Relatie.volgNr}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/record-45-relatie', record45Relatie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/record-45-relatie', record45Relatie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'record-45-relatie/'+ record45Relatie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
