<div>
    <h2 id="page-heading">
        <span jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.home.title">Legitimatiebewijs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-legitimatiebewijs-my-suffix" [routerLink]="['/legitimatiebewijs-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.home.createLabel">
            Create new Legitimatiebewijs
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="legitimatiebewijs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.volgnummer">Volgnummer</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.soort">Soort</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.land">Land</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.legitimatiebewijs.fdnAanvrager">Fdn Aanvrager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let legitimatiebewijs of legitimatiebewijs ;trackBy: trackId">
                <td><a [routerLink]="['/legitimatiebewijs-my-suffix', legitimatiebewijs.id, 'view' ]">{{legitimatiebewijs.id}}</a></td>
                <td>{{legitimatiebewijs.volgnummer}}</td>
                <td>{{legitimatiebewijs.soort}}</td>
                <td>{{legitimatiebewijs.land}}</td>
                <td>
                    <div *ngIf="legitimatiebewijs.fdnAanvragerId">
                        <a [routerLink]="['../fdn-aanvrager-my-suffix', legitimatiebewijs.fdnAanvragerId , 'view' ]" >{{legitimatiebewijs.fdnAanvragerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/legitimatiebewijs-my-suffix', legitimatiebewijs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/legitimatiebewijs-my-suffix', legitimatiebewijs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'legitimatiebewijs-my-suffix/'+ legitimatiebewijs.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
