<div>
    <h2 id="page-heading">
        <span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.home.title">Financiele Situaties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-financiele-situatie-my-suffix" [routerLink]="['/financiele-situatie-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="proposalManagementApplicationApp.financieleSituatie.home.createLabel">
            Create new Financiele Situatie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="financieleSituaties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.volgnummer">Volgnummer</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.brutoMaandInk">Bruto Maand Ink</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.nettoMaandInk">Netto Maand Ink</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.voorlopigeTeruggaaf">Voorlopige Teruggaaf</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.eigenWoning">Eigen Woning</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.hypotheek">Hypotheek</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.brutoMndHypotheek">Bruto Mnd Hypotheek</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.lopendeLeningen">Lopende Leningen</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.woonsituatie">Woonsituatie</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.woonlasten">Woonlasten</span></th>
            <th><span jhiTranslate="proposalManagementApplicationApp.financieleSituatie.fdnAanvrager">Fdn Aanvrager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let financieleSituatie of financieleSituaties ;trackBy: trackId">
                <td><a [routerLink]="['/financiele-situatie-my-suffix', financieleSituatie.id, 'view' ]">{{financieleSituatie.id}}</a></td>
                <td>{{financieleSituatie.volgnummer}}</td>
                <td>{{financieleSituatie.brutoMaandInk}}</td>
                <td>{{financieleSituatie.nettoMaandInk}}</td>
                <td>{{financieleSituatie.voorlopigeTeruggaaf}}</td>
                <td>{{financieleSituatie.eigenWoning}}</td>
                <td>{{financieleSituatie.hypotheek}}</td>
                <td>{{financieleSituatie.brutoMndHypotheek}}</td>
                <td>{{financieleSituatie.lopendeLeningen}}</td>
                <td>{{financieleSituatie.woonsituatie}}</td>
                <td>{{financieleSituatie.woonlasten}}</td>
                <td>
                    <div *ngIf="financieleSituatie.fdnAanvragerId">
                        <a [routerLink]="['../fdn-aanvrager-my-suffix', financieleSituatie.fdnAanvragerId , 'view' ]" >{{financieleSituatie.fdnAanvragerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/financiele-situatie-my-suffix', financieleSituatie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/financiele-situatie-my-suffix', financieleSituatie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'financiele-situatie-my-suffix/'+ financieleSituatie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
