<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-request-my-suffix-heading" jhiTranslate="proposalManagementApplicationApp.request.home.createOrEditLabel">Create or edit a Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!request.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="request.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proposalManagementApplicationApp.request.pcFinetNr" for="field_pcFinetNr">Pc Finet Nr</label>
                    <input type="text" class="form-control" name="pcFinetNr" id="field_pcFinetNr"
                        [(ngModel)]="request.pcFinetNr" required minlength="11" maxlength="11" pattern="[0-9]+"/>
                    <div [hidden]="!(editForm.controls.pcFinetNr?.dirty && editForm.controls.pcFinetNr?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pcFinetNr?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pcFinetNr?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 11 }">
                        This field is required to be at least 11 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pcFinetNr?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.pcFinetNr?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Pc Finet Nr' }">
                            This field should follow pattern for "Pc Finet Nr".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="proposalManagementApplicationApp.request.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="request.customerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
