<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="request">
            <h2><span jhiTranslate="proposalManagementApplicationApp.request.detail.title">Request</span> {{request.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proposalManagementApplicationApp.request.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="request.customerId">
                        <a [routerLink]="['/customer-my-suffix', request.customerId, 'view']">{{request.customerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/request-my-suffix', request.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
