<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="record46RelatieHuishoudelijk">
            <h2><span jhiTranslate="proposalManagementApplicationApp.record46RelatieHuishoudelijk.detail.title">Record 46 Relatie Huishoudelijk</span> {{record46RelatieHuishoudelijk.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proposalManagementApplicationApp.record46RelatieHuishoudelijk.pcFinetNr">Pc Finet Nr</span></dt>
                <dd>
                    <span>{{record46RelatieHuishoudelijk.pcFinetNr}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record46RelatieHuishoudelijk.recordType">Record Type</span></dt>
                <dd>
                    <span>{{record46RelatieHuishoudelijk.recordType}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record46RelatieHuishoudelijk.volgNr">Volg Nr</span></dt>
                <dd>
                    <span>{{record46RelatieHuishoudelijk.volgNr}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record-46-relatie-huishoudelijk-my-suffix', record46RelatieHuishoudelijk.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
