<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="creditScore">
            <h2><span jhiTranslate="proposalManagementApplicationApp.creditScore.detail.title">Credit Score</span> {{creditScore.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proposalManagementApplicationApp.creditScore.request">Request</span></dt>
                <dd>
                    <div *ngIf="creditScore.requestId">
                        <a [routerLink]="['/request-my-suffix', creditScore.requestId, 'view']">{{creditScore.requestId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/credit-score-my-suffix', creditScore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
