<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="record11AanvraagGegevensOpmerkingen">
            <h2><span jhiTranslate="proposalManagementApplicationApp.record11AanvraagGegevensOpmerkingen.detail.title">Record 11 Aanvraag Gegevens Opmerkingen</span> {{record11AanvraagGegevensOpmerkingen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proposalManagementApplicationApp.record11AanvraagGegevensOpmerkingen.pcFinetNr">Pc Finet Nr</span></dt>
                <dd>
                    <span>{{record11AanvraagGegevensOpmerkingen.pcFinetNr}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record11AanvraagGegevensOpmerkingen.recordType">Record Type</span></dt>
                <dd>
                    <span>{{record11AanvraagGegevensOpmerkingen.recordType}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record11AanvraagGegevensOpmerkingen.volgNr">Volg Nr</span></dt>
                <dd>
                    <span>{{record11AanvraagGegevensOpmerkingen.volgNr}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record-11-aanvraag-gegevens-opmerkingen-my-suffix', record11AanvraagGegevensOpmerkingen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
