<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="record61Uitleg">
            <h2><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.detail.title">Record 61 Uitleg</span> {{record61Uitleg.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.pcFinetNr">Pc Finet Nr</span></dt>
                <dd>
                    <span>{{record61Uitleg.pcFinetNr}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.recordType">Record Type</span></dt>
                <dd>
                    <span>{{record61Uitleg.recordType}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.volgNr">Volg Nr</span></dt>
                <dd>
                    <span>{{record61Uitleg.volgNr}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.rol">Rol</span></dt>
                <dd>
                    <span>{{record61Uitleg.rol}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.uitlegGezin">Uitleg Gezin</span></dt>
                <dd>
                    <span>{{record61Uitleg.uitlegGezin}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.uitlegInkomsten">Uitleg Inkomsten</span></dt>
                <dd>
                    <span>{{record61Uitleg.uitlegInkomsten}}</span>
                </dd>
                <dt><span jhiTranslate="proposalManagementApplicationApp.record61Uitleg.uitlegInPlatform">Uitleg In Platform</span></dt>
                <dd>
                    <span>{{record61Uitleg.uitlegInPlatform}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record-61-uitleg-my-suffix', record61Uitleg.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
