<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">ProposalManagementApplication</span> <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'home'"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon [icon]="'th-list'"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="record-01-start-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record01StartMySuffix">Record 01 Start My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-99-end-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record99EndMySuffix">Record 99 End My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-10-aanvraag-gegevens-algemeen-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record10AanvraagGegevensAlgemeenMySuffix">Record 10 Aanvraag Gegevens Algemeen My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-11-aanvraag-gegevens-opmerkingen-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record11AanvraagGegevensOpmerkingenMySuffix">Record 11 Aanvraag Gegevens Opmerkingen My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-20-financieel-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record20FinancieelMySuffix">Record 20 Financieel My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-25-herfinancieering-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record25HerfinancieeringMySuffix">Record 25 Herfinancieering My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-30-inruil-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record30InruilMySuffix">Record 30 Inruil My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-35-object-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record35ObjectMySuffix">Record 35 Object My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-40-acceptatie-score-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record40AcceptatieScoreMySuffix">Record 40 Acceptatie Score My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-45-relatie-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record45RelatieMySuffix">Record 45 Relatie My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-46-relatie-huishoudelijk-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record46RelatieHuishoudelijkMySuffix">Record 46 Relatie Huishoudelijk My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-50-bedrijf-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record50BedrijfMySuffix">Record 50 Bedrijf My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-55-scoring-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record55ScoringMySuffix">Record 55 Scoring My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-61-uitleg-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record61UitlegMySuffix">Record 61 Uitleg My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-62-uitleg-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record62UitlegMySuffix">Record 62 Uitleg My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-63-uitleg-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record63UitlegMySuffix">Record 63 Uitleg My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="job-history-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.jobHistoryMySuffix">Job History My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-99-eind-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record99EindMySuffix">Record 99 Eind My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="request-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.requestMySuffix">Request My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="credit-score-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.creditScoreMySuffix">Credit Score My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="customer-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.customerMySuffix">Customer My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rekenmodule-aanvraag-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.rekenmoduleAanvraagMySuffix">Rekenmodule Aanvraag My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="aanvraagbericht-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.aanvraagberichtMySuffix">Aanvraagbericht My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="header-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.headerMySuffix">Header My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="algemeen-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.algemeenMySuffix">Algemeen My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="fdn-aanvrager-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.fdnAanvragerMySuffix">Fdn Aanvrager My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="adres-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.adresMySuffix">Adres My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="legitimatiebewijs-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.legitimatiebewijsMySuffix">Legitimatiebewijs My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="werksituatie-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.werksituatieMySuffix">Werksituatie My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="naw-werkgever-uwv-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.nawWerkgeverUwvMySuffix">Naw Werkgever Uwv My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="gezinssituatie-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.gezinssituatieMySuffix">Gezinssituatie My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="financiele-situatie-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.financieleSituatieMySuffix">Financiele Situatie My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="krediet-aanvraag-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.kredietAanvraagMySuffix">Krediet Aanvraag My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="vrije-tekst-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.vrijeTekstMySuffix">Vrije Tekst My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tekst-regel-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.tekstRegelMySuffix">Tekst Regel My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="region-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.regionMySuffix">Region My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="country-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.countryMySuffix">Country My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="location-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.locationMySuffix">Location My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="department-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.departmentMySuffix">Department My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="task-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.taskMySuffix">Task My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="employee-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.employeeMySuffix">Employee My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="job-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.jobMySuffix">Job My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="request-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.requestMySuffix">Request My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="employee-my-suffix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.employeeMySuffix">Employee My Suffix</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="job" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.job">Job</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="job-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.jobHistory">Job History</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-01-start" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record01Start">Record 01 Start</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-10-aanvraag-gegevens-algemeen" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record10AanvraagGegevensAlgemeen">Record 10 Aanvraag Gegevens Algemeen</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-11-aanvraag-gegevens-opmerkingen" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record11AanvraagGegevensOpmerkingen">Record 11 Aanvraag Gegevens Opmerkingen</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-20-financieel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record20Financieel">Record 20 Financieel</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-25-herfinancieering" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record25Herfinancieering">Record 25 Herfinancieering</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-30-inruil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record30Inruil">Record 30 Inruil</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-35-object" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record35Object">Record 35 Object</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-40-acceptatie-score" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record40AcceptatieScore">Record 40 Acceptatie Score</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-45-relatie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record45Relatie">Record 45 Relatie</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-46-relatie-huishoudelijk" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record46RelatieHuishoudelijk">Record 46 Relatie Huishoudelijk</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-50-bedrijf" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record50Bedrijf">Record 50 Bedrijf</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-55-scoring" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record55Scoring">Record 55 Scoring</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-61-uitleg" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record61Uitleg">Record 61 Uitleg</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-62-uitleg" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record62Uitleg">Record 62 Uitleg</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-63-uitleg" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record63Uitleg">Record 63 Uitleg</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="record-99-eind" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.record99Eind">Record 99 Eind</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <fa-icon [icon]="'hdd'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon [icon]="'flag'"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon [icon]="'user'"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
